extends layouts/main

block content
    .form-container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            .div.fileUpload
                label(for="videoFile") Video Upload
                input(type="file", id="file", name="videoFile", required=true, accept="video/*")
            input(type="text", placeholder="Title", name="title")
            textarea(placeholder="Description", name="description")
            input(type="submit", value="Update Video")